body {
  margin: 0;

  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.btn {
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
  border: none;
}

.btn:hover,
.btn:focus {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.main-header {
  background-color: #f3f7f9;
}

.header-top-wrapper {
  font-size: 17px;

  background-color: #293449;
}

.search-input {
  background-color: #293449;

  border: none;
}

.search-input:hover {
  background-color: #212a3a;
}

.search-input:focus {
  background-color: #ffffff;
}

.bookmarks,
.cart {
  color: #ffffff;

  background-color: #293449;
}

.bookmarks:hover,
.cart:hover {
  background-color: #212a3a;
}

.bookmarks:active,
.cart:active {
  color: #8b8e94;

  background-color: #161d29;
}

.order {
  color: #ffffff;

  background-color: #63a63e;
}

.order:hover {
  background-color: #5fbb2d;
}

.order:active {
  color: #8b8e94;

  background-color: #518534;
}

.title {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 23px;
  color: #ee434f;

}

.header-phone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-navigation {
  list-style: none;
}

.user-navigation-link {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.user-navigation-link:hover,
.user-navigation-link:focus {
  color: #ee3643;
}

.user-navigation-link:active {
  color: #c5c5c5;
}

.main-navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #32425c;
}

.site-navigation {
  list-style: none;
}

.site-navigation-link {
  color: #ffffff;
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  background-color: #293449;
}

.site-navigation-link:active {
  color: #7f858f;

  background-color: #1d2739;
}

.promo-list {
  list-style: none;
}

.promo-item-materials {
  background-color: #ffbf47;
}

.promo-item-tools {
  background-color: #3bbce3;
}

.promo-item-technics {
  background-color: #dc91d8;
}

.promo-item-discount {
  background-color: #8ed78f;
}

.promo-item-delivery {
  background-color: #ffc047;
}

.promo-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
}

.promo-item-link {
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.slider-list {
  list-style: none;
}

.slider-title {
  font-size:36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

.slider-slogan {
  line-height: 24px;
  color: #ffffff;
}
/*временный фон*/
.slider-list li {
  background-color: #000000;
}

.popular-wrapper {
  background-color: #f9f5f0;
}

.popular-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
}

.popular-articles-list {
  font-family: "PT Sans", Arial, sans-serif;
  list-style: none;
}

.article-link {
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}

.old-price {
  font-size: 17px;
  font-weight: 700;
  text-decoration: line-through;
  color: #a9a9a9;
}

.price {
  font-size: 17px;
  font-weight: 700;
  color: #ffffff;

  background-color: #ee3643;
}

.popular-brands-list {
  list-style: none;
}

.services-wrapper {
  background-color: #f4f8f9;
}

.services-title {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.services-list {
  list-style: none;
}

.services-option {
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;

  background-color: #32425c;
  border: none;
}

.services-option-current {
  color: #32425c;
  background-color: #ffffff;
}

.services-option:hover,
.services-option:focus {
  color: #ffffff;

  background-color: #293449;
}

.service-title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36x;
  text-transform: uppercase;
  color: #32425c;
}

.services-intro {
  font-size: 13px;
  line-height: 24px;
}

.company-title {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.company-intro {
  font-size: 13px;
  line-height: 24px;
}

.partners-item {
  line-height: 20px;
}

.contacts-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts-intro {
  font-size: 13px;
  line-height: 24px;
}

.footer-top {
  line-height: 24px;
  color: #ffffff;

  background-color: #32425c;
}

.footer-nav-company {
  list-style: none;
}

.nav-company-link {
  color: #ffffff;
}

.nav-company-link:hover,
.nav-company-link:focus {
  text-decoration: underline;
}

.nav-company-link:active {
  color: #929caa;
  text-decoration: none;
}

.footer-phone {
  color: #ffffff;
}

.footer-nav-articles {
  list-style: none;
}

.nav-articles-link {
  color: #ffd180;
}

.nav-articles-link:hover,
.nav-articles-link:focus {
  text-decoration: underline;
}

.nav-articles-link:active {
  color: #92856d;
  text-decoration: none;
}

.footer-bottom {
  font-size: 16px;
  color: #ffffff;

  background-color: #293449;
}

.social-buttons {
  list-style: none;
}

.feedback-link,
.development-link {
  color: #ffd180;
}

.feedback-link:hover,
.feedback-link:focus,
.development-link:hover,
.development-link:focus {
  text-decoration: underline;
}

.feedback-link:active,
.development-link:active {
  color: #c73644;
  text-decoration: none;
}

.contacts-input {
  border: 1px solid #dee3e4;
}

::-webkit-input-placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #d7d7d7;
}
::-moz-placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #d7d7d7;
}
:-ms-input-placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #d7d7d7;
}
:-moz-placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #d7d7d7;
}

.btn-wrapper {
  background-color: #f4f4f4;
}
/*стили для внутренней страницы*/
.registred-user-wrapper {
  background-color: #ffffff;
}

.user-name {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.user-name:active {
  color: #c5c5c5;
}

.user-profile {
  list-style: none;
}

.user-profile-link {
  font-size: 16px;
  color: #32425c;

  text-decoration: underline;
}

.user-profile-link:hover,
.user-profile-link:focus {
  color: #ee3643;
}

.user-profile-link:active {
  color: #c5c5c5;
}

.breadcrumbs {
  font-family: "PT Sans", Aria, sans-serif;
  font-size: 13px;
  text-transform: uppercase;

  list-style: none;
}

.breadcrumbs-link {
  color: #000000;
}

.main-title {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;

  background-color: #f2f6f8;
}

.filters {
  font-family: "PT Sans", Aria, sans-serif;
  text-transform: uppercase;

}

.filter-title {
  font-size: 13px;
  font-weight: 400;

  background-color: #f7f3ec;
}

.cost,
.producers,
.batteries {
  border: none;
}

.fieldset-title {
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
}

.producers-list {
  list-style: none;
}

.filter-label {
  font-size: 15px;
  line-height: 20px;
}

.batteries-list {
  list-style: none;
}

.filter-btn {
  line-height: 8px;
  font-size: 13px;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.sorting {
  font-size: 13px;
  text-transform: uppercase;
}

.sorting-category {
  list-style: none;
}

.sorting-option {
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: red;
  color: #c5c5c5;
}

.sorting-option-current {
  text-decoration: none;
  color: #ee3643;
}

.sorting-option:hover,
.sorting-option:focus {
  text-decoration: underline;
  text-decoration-color: #ee3643;
  color: #000000;
}

.sorting-direction {
  list-style: none;
}

.sorting-wrapper {
  background-color: #f7f3ec;
}

.catalog-list {
  font-family: "PT Sans", Arial, sans-serif;

  list-style: none;
}

.buy-link {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #63a63e;
}

.buy-link:hover,
.buy-link:focus {
  background-color: #5fbb2d;
}

.buy-link:active {
  background-color: #518534;
}

.bookmarks-link {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #32425c;

  border: 2px solid #63a63e;
}

.bookmarks-link:hover,
.bookmarks-link:focus {
  border: 2px solid #32425c;
}

.bookmarks-link:active {
  color: #c1c6ce;

  border: 2px solid #c1c6ce;
}

.pagination-list {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;

  list-style: none;
}

.pagination-link {
  color: #000000;

  border: 1px solid #e5e5e5;
}

.pagination-link:hover,
.pagination-link:focus {
  border: 1px solid #bdc6ca;
}

.pagination-link:active {
  border: 1px solid #ee3643;
}

.pagination-link-current {
  color: #ffffff;

  background-color: #ee3643;
  border: none;
}

.pagination-link-current:hover,
.pagination-link-current:focus,
.pagination-link-current:active {
  color: #ffffff;

  background-color: #ee3643;
  border: none;
}

.additional-info {
  background-color: #f2f6f8;
}

.additional-title {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.additional-description {
  font-size: 13px;
  line-height: 14px;
}

.notification {
  font-size: 30px;
  line-height: 30px;
}

.continue-shopping {
  font-size: 14px;
  text-transform: uppercase;

  background-color: #ffffff;
  border: none;
}
